*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header-wrapper{
    background-color: #1A1A1A;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.hexgenerator-title{
    font-size: 2rem;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 0 16px;
}

.hexgenerator-wrapper{
    width: auto;
    margin: 2rem;
    height: 400px;
    background-color: beige;
    padding: 32px 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hexgenerator-span-wrapper{
    width: 320px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #1A1A1A;
    border-radius: 25px;
    background-color: #1A1A1A;
}

.hexgenerator-span{
    color: #f1f1f1;
    font-size: 1rem;
    font-weight: bold;
}

.clear-memory-wrapper{
    width: 25%;
    height: 3rem;
    background-color: #1A1A1A;
    border: 2px solid #1A1A1A;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-memory{
    text-transform: uppercase;
    color: #f1f1f1;
    font-size: 1rem;
    font-weight: bold;
}